fastapi
uvicorn
pydantic
python-dotenv
requests
colorama

langchain
langchain-community
langchain-huggingface
langchain-classic

faiss-cpu
sentence-transformers
rank_bm25

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0
